@using sl.model
@using sl.extension

@model TypeModels
@{
    ViewBag.Title = "类型管理";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
</style>

<body>
    @* 折叠面板 *@
    <div class="easyui-accordion" style="width: 100%; height: 100%;">
        @* 中间的用户类型管理 *@
        <div title="用户类型管理" data-options="iconCls:'icon-ok'">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchUserType" action="GetUserTypes" method="post">
                    <table>
                        <tr>
                            <td>
                                用户类型：
                            </td>
                            <td>
                                @Html.InputFor(m => m.userType.U_LoginTypeValue)
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("usertype_dg", "searchUserType")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("usertype_dg", "添加用户类型", Url.Action("UserTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("usertype_dg", "修改用户类型", Url.Action("UserTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("usertype_dg", Url.Action("UserTypesDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("usertype_dg")
                    </td>
                </tr>
            </table>
            <table id="usertype_dg"></table>
        </div>
        @* 上面的会员类型管理 *@
        <div title="会员类型管理" data-options="iconCls:'icon-ok'">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchMType" action="GetMemberTypes" method="post">
                    <table>
                        <tr>
                            <td>
                                会员类型：
                            </td>
                            <td>
                                @Html.InputFor(m => m.reviewResult.M_ReviewResultValue)
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("mtype_dg", "searchMType")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("mtype_dg", "添加会员类型", Url.Action("MemberTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("mtype_dg", "修改会员类型", Url.Action("MemberTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("mtype_dg", Url.Action("MemberTypesDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("mtype_dg")
                    </td>
                </tr>
            </table>
            <table id="mtype_dg"></table>
        </div>
        @* 左边的发布类型管理 *@
        <div title="发布类型管理" data-options="iconCls:'icon-ok'">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchPMType" action="GetPMTypes" method="post">
                    <table>
                        <tr>
                            <td>
                                发布类型：
                            </td>
                            <td>
                                @Html.InputFor(m => m.pmType.PM_TypeValue)
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("pmtype_dg", "searchPMType")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("pmtype_dg", "添加用户类型", Url.Action("PMTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("pmtype_dg", "修改用户类型", Url.Action("PMTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("pmtype_dg", Url.Action("PMTypesDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("pmtype_dg")
                    </td>
                </tr>
            </table>
            <table id="pmtype_dg"></table>
        </div>
        @* 右边的下载类型管理 *@
        <div title="下载类型管理" data-options="iconCls:'icon-ok'">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchDMType" action="GetDMTypes" method="post">
                    <table>
                        <tr>
                            <td>
                                下载类型：
                            </td>
                            <td>
                                @Html.InputFor(m => m.dmType.DM_TypeValue)
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("dmtype_dg", "searchDMType")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("dmtype_dg", "添加下载类型", Url.Action("DMTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("dmtype_dg", "修改下载类型", Url.Action("DMTypeEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("dmtype_dg", Url.Action("DMTypesDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("dmtype_dg")
                    </td>
                </tr>
            </table>
            <table id="dmtype_dg"></table>
        </div>
        @* 下面的审核结果管理 *@
        <div title="审核结果类型管理" data-options="iconCls:'icon-ok'">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchReviewResult" action="GetReviewResults" method="post">
                    <table>
                        <tr>
                            <td>
                                审核结果：
                            </td>
                            <td>
                                @Html.InputFor(m => m.reviewResult.M_ReviewResultValue)
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("reviewresult_dg", "searchReviewResult")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("reviewresult_dg", "添加审核结果", Url.Action("ReviewResultEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("reviewresult_dg", "修改审核结果", Url.Action("ReviewResultEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("reviewresult_dg", Url.Action("ReviewResultsDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("reviewresult_dg")
                    </td>
                </tr>
            </table>
            <table id="reviewresult_dg"></table>
        </div>
    </div>
</body>

<script type="text/javascript">
    //显示用户类型
    function showUserTypeList() {
        var url = '@Url.Action("GetUserTypes")';
        var columns = [[
                            { field: 'u_logintypeid', title: '用户类型ID', width: '20%', sortable: true },
                            { field: 'u_logintypevalue', title: '用户类型', width: '20%', sortable: true }
        ]];
        initGrid('usertype_dg', url, "pk_id", "pk_id", columns, true, false); //不排序
    }

    //显示会员类型
    function showMemberTypeList() {
        var url = '@Url.Action("GetMemberTypes")';
        var columns = [[
                            { field: 'm_typeid', title: '会员类型ID', width: '20%', sortable: true },
                            { field: 'm_typevalue', title: '会员类型', width: '20%', sortable: true }
        ]];
        initGrid('mtype_dg', url, "pk_id", "pk_id", columns, true, false); //不排序
    }

    //显示发布类型
    function showPMTypeList(){
        var url = '@Url.Action("GetPMTypes")';
        var columns = [[
                            { field: 'pm_typeid', title: '发布类型ID', width: '20%', sortable: true },
                            { field: 'pm_typevalue', title: '发布类型', width: '20%', sortable: true }
        ]];
        initGrid('pmtype_dg', url, "pk_id", "pk_id", columns, true, false); //不排序
    }

    //显示下载类型
    function showDMTypeList() {
        var url = '@Url.Action("GetDMTypes")';
        var columns = [[
                            { field: 'dm_typeid', title: '下载类型ID', width: '20%', sortable: true },
                            { field: 'dm_typevalue', title: '下载类型', width: '20%', sortable: true }
        ]];
        initGrid('dmtype_dg', url, "pk_id", "pk_id", columns, true, false); //不排序
    }

    //显示审核结果
    function showReviewResultList() {
        var url = '@Url.Action("GetReviewResults")';
        var columns = [[
                            { field: 'm_reviewresultid', title: '审核结果ID', width: '20%', sortable: true },
                            { field: 'm_reviewresultvalue', title: '审核结果', width: '20%', sortable: true }
        ]];
        initGrid('reviewresult_dg', url, "pk_id", "pk_id", columns, true, false); //不排序
    }

    //延时加载
    setTimeout(showUserTypeList, 0);
    setTimeout(showMemberTypeList, 500);
    setTimeout(showPMTypeList, 1000);
    setTimeout(showDMTypeList, 1500);
    setTimeout(showReviewResultList, 2000);
</script>