@using sl.model
@using sl.extension

@model T_ADImgList
@{
    ViewBag.Title = "编辑广告图片";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" style="width:100%;height:100%">
        <tr>
            <th>
                图片地址：
            </th>
            <td>
                <input type="file" id="PM_ADImgListURL" name="PM_ADImgListURL" />
            </td>


        <tr>
            <th>
                会员图片：
            </th>
            <td colspan="2">
                @if (Model != null && !string.IsNullOrEmpty(Model.PM_ADImgListURL))
                {
                    <img src="@Model.PM_ADImgListURL" alt="" />
                    <a class="btnDelImg" id="@Model.pk_id" onclick="delface(@Model.pk_id)">删除</a>
                }
            </td>
        </tr>

        <tr>
            <th>
                位序：
            </th>
            <td>
                @Html.InputFor(m => m.PM_ADImgListNum)
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    $('.btnDelImg').click(function () {
        var url = '@Url.Action("DelImg")';
        var id = $(this).attr('id');

        $.ajax({
            type: 'post',
            url: url,
            data: {
                id: id
            },
            success: function (data) {
                //服务器返回响应，根据响应结果
                $.messager.alert(data.code, data.message);
            },
            dataType: "json"
        });
    })
</script>