@using sl.model
@using sl.extension

@model T_PublishManage
@{
    ViewBag.Title = "编辑发布信息";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">

        <table class="msgtable" title="编辑发布信息" style="width:100%;height:100%">
            <tr>
                <th style="width: 130px">
                    发布者：
                </th>
                <td style="width: 200px">
                    @if (Model.pkId == null)
                    {
                        @Html.Label("暂无")
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.uLoginName)
                    }
                </td>
                </tr>
            <tr>
                <th>
                    发布类型：
                </th>
                <td>
                    @Html.DropDownListFor(m => m.pmTypeID, UtilsBind.PublishTypes())
                </td>
            </tr>

            <tr>
                <th>
                    上传时间：
                </th>
                <td>
                    @Html.EasyUiDateTimeBoxFor(m => m.pmPublishTime)
                </td>
            </tr>

            <tr>
                <th>
                    是否置顶：
                </th>
                <td>
                    @Html.DropDownListFor(m => m.pmPreview, UtilsBind.ChooseYesOrNo())
                </td>
            </tr>


        </table>
</form>
