@using sl.extension
@{
    ViewBag.Title = "发布管理";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div id="toolbar">
    <fieldset>
        <legend>信息查询</legend>
        <form id="searchForm" action="GetMembersList" method="post">
            <table>
                <tr>
                    <td>
                        发布者：
                    </td>
                    <td>
                        @Html.Input("u_loginname")
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForSearch("pm_dg", "searchForm")
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
    <table>
        <tr>
            <td>
                @Html.EasyuiLinkButtonForAdd("pm_dg", "新建消息", Url.Action("PublishEdit"), 900, 600)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForEdit("pm_dg", "修改消息", Url.Action("PublishEdit"), 900, 600)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForDel("pm_dg", Url.Action("PublishDel"))
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForReload("pm_dg")
            </td>

            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑会员单位简介", 900, 600) })
                @*@Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑发布正文", 900, 600) })*@
            </td>


            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                <div class="easyui-linkbutton">
                    <a class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-save'">导出</a>
                </div>

                @*@Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑发布正文", 900, 600) })*@
            </td>
        </tr>
    </table>
</div>
<table id="pm_dg"></table>

<div id="mm" style="width:80px;">
    <div id="btn_export_all" data-options="iconCls:'icon-undo'">导出全部</div>
    <div id="btn_export_selected" data-options="iconCls:'icon-redo'">导出选中</div>
</div>

<script type="text/javascript">
    var url = '@Url.Action("GetPublishsList")';
    var columns = [[
                    { field: 'u_loginname', title: '发布者', width: '10%', sortable: true },
                    { field: 'pm_title', title: '标题', width: '20%', sortable: true },
                    { field: 'pm_typevalue', title: '所属类别', width: '10%', sortable: true },
                    { field: 'pm_publishtime', title: '发布时间', width: '10%', sortable: true },
                    { field: 'pm_views', title: '浏览量', width: '5%', sortable: true },
                    { field: 'pm_text', title: '文章内容', width: '20%', sortable: true },
                    { field: 'pm_preview', title: '是否置顶', width: '5%', sortable: true },
                    { field: 'opt', title: '操作', width: '5%', sortable: true, formatter: option }
    ]];
    initGrid("pm_dg", url, "pk_id", "T_PublishManage.pk_id", columns, true, false);

    function option(value, row, index) {
        var opt = '';
        var url = '@Url.Action("PMAdView", "PublishManager")?aid=' + row.pm_adimglistid;
        //console.log(url);
        var detail = '<a style="color:red;" href="' + url + '">查看广告</a>';
        return opt + detail;
    }

    //编辑单位简介
    function EditText(dgid, url, title, width, height, btnText) {
        var buttons = null;
        if (btnText != "-1") {
            buttons = [{
                id: 'editSubmit',
                text: btnText || '保 存',
                iconCls: 'ext-icon-accept',
                handler: function () {
                    dialog.find('iframe').get(0).contentWindow.submitForm(dialog, $("#" + dgid), parent.$);
                }
            }, {
                text: '取 消',
                iconCls: 'ext-icon-cancel',
                handler: function () {
                    dialog.dialog('destroy');
                }
            }];
        }
        var rows = $("#" + dgid).datagrid("getSelections");

        if (rows.length != 1) {
            parent.$.messager.alert("提示!", "请选择一条记录!", "info");
            return;
        }

        var id = rows[0].pk_id;

        if (id) {
            var dialog = parent.sy.modalDialog({
                title: "&nbsp;" + title,
                iconCls: 'icon-pencil',
                url: url + "?id=" + id,
                width: width || 700,
                height: height || 500,
                resizable: true,
                maximizable: true,
                onClose: function () {
                    $("#" + dgid).datagrid("reload").datagrid('clearSelections').datagrid('clearChecked');
                },
                buttons: buttons
            });
        } else {
            alert("id not found please check you initGrid()")
        }
    }
    //导出全部
    $("#btn_export_all").click(function () {
        var url = '@Url.Action("ExportPublishAsExcel")';
        window.location.href = url; //跳转
    })

    //导出选中
    $("#btn_export_selected").click(function () {
        var row = $("#pm_dg").datagrid("getSelections");
        if (row.length < 1) {
            parent.$.messager.alert("提示!", "请选择一条记录!", "info");
            return;
        } else {
            parent.$.messager.confirm('提示', '确定要导出?', function (r) {
                if (r) {

                    var url = '@Url.Action("ExportSelectPublishAsExcel")';// + "?model=" + JSON.stringify(row);

                    console.log(url + " " + JSON.stringify(row))

                    $.post(url, { model: JSON.stringify(row)+"" }, function (data) {
                        console.log(data);
                    });


                    //$.ajax({
                    //    type: 'post',
                    //    url: url,
                    //    data: { model: JSON.stringify(row) },
                    //    success: function (data) {
                    //        if (data.state == "1") {
                    //            $.messager.alert('成功', "导出成功");
                    //        } else {
                    //            $.messager.alert('错误', data.message);
                    //        }
                    //    },
                    //    dataType: "json"
                    //});
                    //var config = $.extend(true, { method: 'post' });
                    //var $iframe = $('<iframe id="down-file-iframe" />');
                    //var $form = $('<form target="down-file-iframe" method="' + config.method + '" />');
                    //$form.attr('action', config.url);
                    //    $form.append('<input type="hidden" name="model" value="' + JSON.stringify(row) + '" />');

                    //$iframe.append($form);
                    //$(document.body).append($iframe);
                    //$form[0].submit();
                    //$iframe.remove();
                    //$.post(url, { model: JSON.stringify(row) }, function (data) {
                    //    console.log(url)
                    //    if (data.state == "1") {
                    //        $.messager.alert('成功', "导出成功");
                    //    } else {
                    //        $.messager.alert('错误', data.message);
                    //    }
                    //}, 'json');
                }
            });
        }
    })

</script>
