@using sl.extension
@{
    ViewBag.Title = "发布管理";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div id="toolbar">
    <fieldset>
        <legend>信息查询</legend>
        <form id="searchForm" action="GetMembersList" method="post">
            <table>
                <tr>
                    <td>
                        发布者：
                    </td>
                    <td>
                        @Html.Input("uLoginName")
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForSearch("pm_dg", "searchForm")
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
    <table>
        <tr>
            <td>
                @Html.EasyuiLinkButtonForAdd("pm_dg", "新建消息", Url.Action("PublishEdit"), 900, 600)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForEdit("pm_dg", "修改消息", Url.Action("PublishEdit"), 900, 600)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForDel("pm_dg", Url.Action("PublishDel"))
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForReload("pm_dg")
            </td>

            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑会员单位简介", 900, 600) })
                @*@Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑发布正文", 900, 600) })*@
            </td>


            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                <div class="easyui-linkbutton">
                    <a class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-save'">导出</a>
                </div>

                @*@Html.EasyuiLinkButton("edit_text", "编辑发布正文", new LinkButton { Icon = "icon-edit", OnClick = string.Format("EditText('{0}','{1}','{2}',{3},{4})", "pm_dg", Url.Action("EditPublishText"), "编辑发布正文", 900, 600) })*@
            </td>
        </tr>
    </table>
</div>
<table id="pm_dg"></table>

<div id="mm" style="width:80px;">
    <div id="btn_export_all" data-options="iconCls:'icon-undo'">导出全部</div>
    <div id="btn_export_top" data-options="iconCls:'icon-undo'">导出前N页</div>
    <div id="btn_export_selected" data-options="iconCls:'icon-redo'">导出选中</div>
</div>

<script type="text/javascript">
    var url = '@Url.Action("GetPublishsList")';
    var columns = [[
                    { field: 'uLoginName', title: '发布者', width: '10%', sortable: true },
                    { field: 'pmTitle', title: '标题', width: '20%', sortable: true },
                    { field: 'pmTypeValue', title: '所属类别', width: '10%', sortable: true },
                    { field: 'pmPublishTime', title: '发布时间', width: '15%', sortable: true },
                    { field: 'pmViews', title: '浏览量', width: '5%', sortable: true },
                    //{ field: 'pmText', title: '文章内容', width: '20%', sortable: true },
                    { field: 'pmPreview', title: '是否置顶', width: '10%', sortable: true },
                    { field: 'opt', title: '操作', width: '10%', sortable: true, formatter: option }
    ]];
    initGrid("pm_dg", url, "pkId", "T_PublishManage.pkId", columns, true, false);

    function option(value, row, index) {
        var opt = '';
        var url = '@Url.Action("PMAdView", "PublishManager")?aid=' + row.pmADImgListID;
        //console.log(url);
        var detail = '<a style="color:red;" href="' + url + '">查看广告</a>';
        return opt + detail;
    }

    //编辑单位简介
    function EditText(dgid, url, title, width, height, btnText) {
        var buttons = null;
        if (btnText != "-1") {
            buttons = [{
                id: 'editSubmit',
                text: btnText || '保 存',
                iconCls: 'ext-icon-accept',
                handler: function () {
                    dialog.find('iframe').get(0).contentWindow.submitForm(dialog, $("#" + dgid), parent.$);
                }
            }, {
                text: '取 消',
                iconCls: 'ext-icon-cancel',
                handler: function () {
                    dialog.dialog('destroy');
                }
            }];
        }
        var rows = $("#" + dgid).datagrid("getSelections");

        if (rows.length != 1) {
            parent.$.messager.alert("提示!", "请选择一条记录!", "info");
            return;
        }

        var id = rows[0].pkId;

        if (id) {
            var dialog = parent.sy.modalDialog({
                title: "&nbsp;" + title,
                iconCls: 'icon-pencil',
                url: url + "?id=" + id,
                width: width || 700,
                height: height || 500,
                resizable: true,
                maximizable: true,
                onClose: function () {
                    $("#" + dgid).datagrid("reload").datagrid('clearSelections').datagrid('clearChecked');
                },
                buttons: buttons
            });
        } else {
            alert("id not found please check you initGrid()")
        }
    }
    //导出全部
    $("#btn_export_all").click(function () {
        var url = '@Url.Action("ExportPublishAsExcel")';
        window.location.href = url; //跳转
    })

    $("#btn_export_top").click(function () {
        $.messager.prompt('导出前N条', '请输入导出的条数', function (r) {
            if (r) {
                if (!isNaN(r)) {
                    var url = '@Url.Action("ExportPublishAsExcel")?num='+r;
                    console.log(url);
                    window.location.href = url; //跳转
                } else {
                    $.messager.alert("提示!", "输入的不是数字", "info");
                }
            }
        });


    })


    //导出选中
    $("#btn_export_selected").click(function () {
        var row = $("#pm_dg").datagrid("getSelections");
        if (row.length != 1) {
            parent.$.messager.alert("提示!", "仅支持导出单条记录!", "info");
            return;
        } else {
            parent.$.messager.confirm('提示', '确定要导出?', function (r) {
                if (r) {
                    var id = row[0].pkId;
                    var url = '@Url.Action("ParseSelectPublishAsDT")?selectID=' + id;
                    window.location.href = url; //跳转
                }
            });
        }
    })

</script>
