@using sl.extension
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div id="toolbar">
            <fieldset>
                <legend>信息查询</legend>
                <form id="searchForm" action="GetUsersList" method="post">
                    <table>
                        <tr>
                            <td>
                                登录名：
                            </td>
                            <td>
                                @Html.Input("uLoginName")
                            </td>
                            <td>
                                @Html.EasyuiLinkButtonForSearch("user_dg", "searchForm")
                            </td>
                        </tr>
                    </table>
                </form>
            </fieldset>

            <table>
                <tr>
                    <td>
                        @Html.EasyuiLinkButtonForAdd("user_dg", "添加用户", Url.Action("UsersEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForEdit("user_dg", "修改用户", Url.Action("UsersEdit"), 700, 400)
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForDel("user_dg", Url.Action("UsersDel"))
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForReload("user_dg")
                    </td>
                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        @Html.EasyuiLinkButton("reset_pwd", "重置密码", new LinkButton { Icon = "icon-help", OnClick = string.Format("ResetPwd('{0}','{1}')", "user_dg", Url.Action("ResetUserPWD")) })
                    </td>

                    @*<td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        <div style="padding:5px 0;">
                            <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding: 1px 0;">导入</a>
                        </div>
                    </td>

                    <td>
                        <div class="datagrid-btn-separator">
                        </div>
                    </td>
                    <td>
                        <div class="easyui-linkbutton">
                            <a class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-save'">导出</a>
                        </div>
                    </td>*@
                </tr>
            </table>
</div>
<table id="user_dg"></table>

<div id="mm" style="width:80px;">
    <div id="btn_export_all" data-options="iconCls:'icon-undo'">导出全部</div>
    <div id="btn_export_selected" data-options="iconCls:'icon-redo'">导出选中</div>
</div>


<script type="text/javascript">
    var url = '@Url.Action("GetUsersList")';
    var columns = [[
                    { field: 'uLoginName', title: '登录名', width: '10%', sortable: true },
                    { field: 'uLoginTypeValue', title: '类型', width: '7%', sortable: true },
                    { field: 'uPassword', title: '密码', width: '20%' },
                    { field: 'uUserName', title: '用户名', width: '12%', sortable: true },
                    { field: 'uPhone', title: '联系电话', width: '15%', sortable: true },
                    { field: 'uMaiBox', title: '邮箱', width: '25%', sortable: true }
    ]];
    initGrid("user_dg", url, "pkId", "T_User.pkId", columns, true, false);
</script>

<script>
    function ResetPwd(dgid, url) {
        var row = $("#" + dgid).datagrid("getSelections");
        if (row.length < 1) {
            parent.$.messager.alert("提示!", "请选择一条记录!", "info");
            return;
        } else {
            parent.$.messager.confirm('提示', '确定要重置?', function (r) {
                if (r) {
                    $.post(url, { model: JSON.stringify(row) }, function (data) {
                        if (data.state == "1") {
                            $("#" + dgid).datagrid('reload').datagrid('clearSelections').datagrid('clearChecked');
                            try {
                                $("#" + dgid).treegrid('reload').treegrid('clearSelections').treegrid('clearChecked');
                            } catch (e) { }
                        } else {
                            $.messager.alert('错误', data.message);
                        }
                    }, 'json');
                }
            });
        }
    }
</script>

