@using sl.model
@using sl.extension


@model T_DownloadManage
@{
    ViewBag.Title = "编辑下载文件";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" title="编辑下载文件" style="width:100%;height:100%">
        @*<tr>
            <th>
                登录名：
            </th>
            <td>
                @Html.InputFor(m => m.uLoginName, Html.Valid().Required("请输入用户名！").AsHtmlAttribute())
            </td>
        </tr>*@


        @if (Model != null && !string.IsNullOrEmpty(Model.dmFileURL))
        {
            <tr id="colFilePath">
                <th>
                    操作：
                </th>
                <td>
                    <label id="tvFilePath">文件路径: @Model.dmFileURL &nbsp;&nbsp;</label>
                    <a class="btnDelFile easyui-linkbutton" id="@Model.pkId">&nbsp;删除&nbsp;</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>
                    文件地址：
                </th>
                <td>
                    <input type="file" id="dmFileURL" name="dmFileURL" />
                </td>
            </tr>
        }

        <tr>
            <th style="width: 130px">
                文件标题：
            </th>
            <td>
                @Html.InputFor(m => m.dmTitle, Html.Valid()
                .Required("请输入下载名称！")
                .MaxLength(30,"名称长度不能大于30")
                .AsHtmlAttribute())
            </td>
        </tr>

        <tr>
            <th style="width: 130px">
                下载类型：
            </th>
            <td>
                @Html.DropDownListFor(m => m.dmTypeID, UtilsBind.DownloadTypes())
            </td>
        </tr>

        @*<tr>
            <th style="width: 130px">
                下载数量：
            </th>
            <td>
                @Html.InputFor(m => m.dmDownloadNum, new { readOnly = "true" })
            </td>
        </tr>*@


        <tr>
            <th style="width: 130px">
                上传时间：
            </th>
            <td>
                @Html.EasyUiDateTimeBoxFor(m => m.dmUploadTime)
            </td>
        </tr>

    </table>

</form>


<script type="text/javascript">
    //删除操作
    $('.btnDelFile').click(function () {
        var url = '@Url.Action("DelFile")';
        var id = $(this).attr('id');

        $.ajax({
            type: 'post',
            url: url,
            data: {
                id: id
            },
            success: function (data) {
                //服务器返回响应，根据响应结果
                $.messager.alert("删除结果", data.message);
                if (data.state == 1) {

                    document.location.reload();//当前页面 
                    //$('#colFilePath').hide();
                }
                //$.messager.alert(data.code,data.message);
            },
            dataType: "json"
        });
    })
</script>
