@using sl.model
@using sl.extension


@model T_DownloadManage
@{
    ViewBag.Title = "编辑下载文件";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" title="编辑下载文件" style="width:100%;height:100%">
        <tr>
            <th>
                登录名：
            </th>
            <td>
                @Html.InputFor(m => m.U_LoginName, Html.Valid().Required("请输入用户名！").AsHtmlAttribute())
            </td>
        </tr>

        
        <tr>
            <th style="width: 130px">
                上传文件：
            </th>
            <td>
                @Html.UploadTextBox("文件路径", isWater: true, width: InputWidthType.Long, value: Model.DM_FileURL)
            </td>
        </tr>
        <tr>
            <th style="width: 130px">
                文件标题：
            </th>
            <td>
                @Html.InputFor(m => m.DM_Title, Html.Valid().Required("请输入链接名称！").AsHtmlAttribute())
            </td>
        </tr>

        <tr>
            <th style="width: 130px">
                下载类型：
            </th>
            <td>
                @Html.DropDownListFor(m => m.DM_TypeID, UtilsBind.DownloadTypes())
            </td>
        </tr>

        @*<tr>
            <th style="width: 130px">
                文件路径：
            </th>
            <td>
                @Html.InputFor(m => m.DM_FileURL, Html.Valid().Required("请输入文件路径！").AsHtmlAttribute())
            </td>
        </tr>*@

        <tr>
            <th style="width: 130px">
                下载数量：
            </th>
            <td>
                @Html.InputFor(m => m.DM_DownloadNum, new { readOnly = "true"})
            </td>
        </tr>


        <tr>
            <th style="width: 130px">
                上传时间：
            </th>
            <td>
                @Html.EasyUiDateTimeBoxFor(m => m.DM_UploadTime)
            </td>
        </tr>

    </table>
</form>
