@using sl.model
@using sl.extension
@model T_SysModule
@{
    ViewBag.Title = "添加/编辑菜单";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" title="添加/编辑菜单" style="width:100%;height:100%">
        <tr>
            <th style="width: 100px;">
                菜单名称:
            </th>
            <td>
                @Html.InputFor(p => p.mName,new { placeholder = "请输入菜单名称" })
            </td>
            <th>
                上级菜单:
            </th>
            <td>
                @Html.EasyUiDropDownListTreeFor(p => p.mParentNo, Url.Action("ModuleTree", "System"), 240)
            </td>
        </tr>
        <tr></tr>
        <tr>
            <th>
                控制器:
            </th>
            <td>
                @Html.InputFor(m => m.mController)
                @*@Html.DropDownListFor(m => m.mController, UtilsBind.ControllerNames())*@
            </td>
            <th>
                属性:
            </th>
            <td>
                @Html.CheckBoxFor(p => p.mIsVisible)
                @Html.LabelFor(p => p.mIsVisible, "是否显示")
                @Html.CheckBoxFor(p => p.mIsMenu)
                @Html.LabelFor(p => p.mIsMenu, "是否为菜单")
            </td>
        </tr>
        <tr>
            <th>
                图标:
            </th>
            <td colspan="3">
                @Html.InputFor(m => m.mIcon, InputWidthType.Longest, new { onclick = "pickIcon(this)" })
            </td>
        </tr>
        <tr>
            <th>
                菜单链接地址:
            </th>
            <td colspan="3">
                @Html.DropDownListFor(m => m.mLinkUrl, UtilsBind.ViewNames())
            </td>
        </tr>
    </table>
</form>
<div id="iconImg">
    <ul class="iconlist"></ul>
</div>
<style type="text/css">
    .iconlist {
        width: 400px;
        padding: 10px;
    }

        .iconlist li {
            border: 1px solid #FFFFFF;
            float: left;
            display: block;
            padding: 2px;
            cursor: pointer;
        }

            .iconlist li.over {
                border: 1px solid #516B9F;
            }

            .iconlist li img {
                height: 16px;
                height: 16px;
            }
</style>
<script type="text/javascript" src="~/Scripts/Manager/iconselector.js"></script>
<script type="text/javascript">
    function pickIcon(iconTxt) {
        currentComboBox = iconTxt;
        f_openIconsWin();//选取模块图标
    }
</script>
