@using sl.extension
@{
    ViewBag.Title = "友情链接";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div id="toolbar">
    <fieldset>
        <legend>信息查询</legend>
        <form id="searchForm" action="GetUsersList" method="post">
            <table>
                <tr>
                    <td>
                        链接名：
                    </td>
                    <td>
                        @Html.Input("flName")
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForSearch("link_dg", "searchForm")
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>

    <table>
        <tr>
            <td>
                @Html.EasyuiLinkButtonForAdd("link_dg", "添加链接", Url.Action("LinkEdit"), 700, 400)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForEdit("link_dg", "修改链接", Url.Action("LinkEdit"), 700, 400)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForDel("link_dg", Url.Action("LinkDel"))
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForReload("link_dg")
            </td>
           
        </tr>
    </table>
</div>
<table id="link_dg"></table>


<script type="text/javascript">
    var url = '@Url.Action("GetLinkList")';
    var columns = [[
                    { field: 'uLoginName', title: '登录名', width: '10%', sortable: true },
                    { field: 'flName', title: '链接名', width: '10%', sortable: true },
                    { field: 'flURL', title: '链接地址', width: '30%' },
                    { field: 'flImgURL', title: '链接图片地址', width: '30%' },
                    { field: 'flAddTime', title: '添加时间', width: '20%', sortable: true }
    ]];
    initGrid("link_dg", url, "pkId", "pkId", columns, true, false);
</script>


