@using sl.model
@using sl.extension


@model T_User
@{
    ViewBag.Title = "编辑用户信息";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <table class="msgtable" title="编辑用户信息" style="width:100%;height:100%">
        <tr>
            <th>
                登录名：
            </th>
            <td>
                @Html.InputFor(m => m.U_LoginName, Html.Valid().Required("请输入用户名！").Remote(Url.Action("CheckUserIsExist"), "U_LoginName").AsHtmlAttribute())
            </td>
        </tr>
        <tr>
            <th style="width: 130px">
                账户类型：
            </th>
            <td>
                @Html.DropDownListFor(m => m.U_LoginTypeID, UtilsBind.UserTypes())
            </td>
        </tr>
        <tr>
            <th style="width: 130px">
                用户昵称：
            </th>
            <td>
                @Html.InputFor(m => m.U_UserName)
            </td>
        </tr>
        <tr>
            <th style="width: 130px">
                密码：
            </th>
            <td>
                @Html.InputFor(m => m.U_Password, new { type = "password" })
            </td>
        </tr>

        <tr>
            <th style="width: 130px">
                联系电话：
            </th>
            <td>
                @Html.InputFor(m => m.U_Phone)
            </td>
        </tr>
        <tr>
            <th style="width: 130px">
                邮箱：
            </th>
            <td>
                @Html.InputFor(m => m.U_MaiBox)
            </td>
        </tr>
    </table>
</form>
