@using sl.model
@using sl.extension

@model T_Member
@{
    ViewBag.Title = "编辑会员信息";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}
<form class="validate" method="post" autocomplete="off" action="" enctype="multipart/form-data">
    <div class="easyui-panel" title='&nbsp;' collapsible="true">
        <table class="msgtable">
            <tr>
                <th>
                    审核者：
                </th>
                <td>
                    @Html.InputFor(m => m.A_LoginName)
                </td>
            </tr>

            <tr>
                <th>
                    审核结果：
                </th>
                <td>
                   @Html.DropDownListFor(m => m.M_ReviewResultID, UtilsBind.ReviewResults())
                </td>
            </tr>

            <tr>
                <th>
                    申请时间：
                </th>
                <td>
                    @Html.InputFor(m => m.M_ApplyTime)
                </td>
            </tr>

            <tr>
                <th>
                    会员名称：
                </th>
                <td>
                    @Html.InputFor(m => m.M_Name)
                </td>
            </tr>

            <tr>
                <th>
                    会员类型：
                </th>
                <td>
                   @Html.DropDownListFor(m => m.M_TypeID, UtilsBind.MemberTypes())
                </td>
            </tr>

            <tr>
                <th>
                    组织代码：
                </th>
                <td>
                    @Html.InputFor(m => m.M_OrganizationCode)
                </td>
            </tr>

            <tr>
                <th>
                    会员地址：
                </th>
                <td>
                    @Html.InputFor(m => m.M_Address)
                </td>
            </tr>

            <tr>
                <th>
                    法人名字：
                </th>
                <td>
                    @Html.InputFor(m => m.M_CorporateName)
                </td>
            </tr>

            <tr>
                <th>
                    法人身份证号：
                </th>
                <td>
                    @Html.InputFor(m => m.M_IDCardNo)
                </td>
            </tr>

            <tr>
                <th>
                    联系人：
                </th>
                <td>
                    @Html.InputFor(m => m.M_Contacts)
                </td>
            </tr>

            <tr>
                <th>
                    联系方式：
                </th>
                <td>
                    @Html.InputFor(m => m.M_ContactsPhone)
                </td>
            </tr>

            <tr>
                <th>
                    摘要：
                </th>
                <td>
                    @Html.InputFor(m => m.M_Summary)
                </td>
            </tr>

            <tr>
                <th>
                    会员图片地址：
                </th>
                <td>
                    @Html.InputFor(m => m.M_ImgUrl)
                </td>
            </tr>

            <tr>
                <th>
                    会员网址：
                </th>
                <td>
                    @Html.InputFor(m => m.M_URL)
                </td>
            </tr>

        </table>
    </div>
</form>