@using sl.extension
@{
    ViewBag.Title = "会员管理";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}

<div id="toolbar">
    <fieldset>
        <legend>信息查询</legend>
        <form id="searchForm" action="GetMembersList" method="post">
            <table>
                <tr>
                    <td>
                        登录名：
                    </td>
                    <td>
                        @Html.Input("a_loginname")
                    </td>
                    <td>
                        @Html.EasyuiLinkButtonForSearch("member_dg", "searchForm")
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
    <table>
        <tr>
            <td>
                @Html.EasyuiLinkButtonForAdd("member_dg", "添加用户", Url.Action("MemberEdit"), 700, 400)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForEdit("member_dg", "修改用户", Url.Action("MemberEdit"), 700, 400)
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForDel("member_dg", Url.Action("MembersDel"))
            </td>
            <td>
                <div class="datagrid-btn-separator">
                </div>
            </td>
            <td>
                @Html.EasyuiLinkButtonForReload("member_dg")
            </td>
        </tr>
    </table>
</div>
<table id="member_dg"></table>

<script type="text/javascript">
    var url = '@Url.Action("GetMembersList")';
    var columns = [[
                    { field: 'a_loginname', title: '登录名', width: '10%', sortable: true },
                    { field: 'm_reviewresultid', title: '类型ID', width: '10%', sortable: true },
                    { field: 'm_applytime', title: '密码', width: '20%' },
                    { field: 'm_name', title: '用户名', width: '12%', sortable: true },
                    { field: 'm_typeid', title: '联系电话', width: '20%', sortable: true },
                    { field: 'm_organizationcode', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_address', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_corporatename', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_idcardno', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_contacts', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_contactsphone', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_summary', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_imgurl', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_url', title: '邮箱', width: '25%', sortable: true },
                    { field: 'm_contactsphone', title: '邮箱', width: '25%', sortable: true }
    ]];
    initGrid("user_dg", url, "pk_id", "pk_id", columns, true, false);
</script>

